<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.example.movrank.repository.BoardMapper">
	
	<!--<select id="list2" resultType="com.springboot.mycgv.dto.BoardDto">
		SELECT ROWNUM RNO, BID, BTITLE, BCONTENT, BHITS, ID, to_char(BDATE,'yyyy-mm-dd') bdate
		FROM (SELECT BID, BTITLE,BCONTENT,BHITS, ID, BDATE FROM MYCGV_BOARD ORDER BY BDATE DESC)
	</select>

	<delete id="delete" parameterType="String">
		delete from mycgv_board where bid=#{bid}
	</delete>
	
	<update id="update" parameterType="com.springboot.mycgv.dto.BoardDto">
		update mycgv_board set btitle=#{btitle}, bcontent=#{bcontent} where bid=#{bid}
	</update>

	<insert id="insert" parameterType="com.springboot.mycgv.dto.BoardDto">
		insert into mycgv_board(bid,btitle,bcontent,bhits,id,bdate,bfile,bsfile)
		values('b_'||LTRIM(to_char(sequ_mycgv_board.nextval,'0000')),#{btitle},#{bcontent},0,#{id},sysdate,
		#{bfile, jdbcType=VARCHAR},#{bsfile, jdbcType=VARCHAR})
	</insert>-->

	<update id="updateHits" parameterType="String">
		update mycgv_board set bhits = bhits+1 where bid=#{bid}
	</update>

	<select id="content" parameterType="String" resultType="com.springboot.mycgv.dto.BoardDto">
		SELECT BID, BTITLE, BCONTENT, BHITS, ID, BDATE, bfile, bsfile FROM MYCGV_BOARD
		WHERE BID = #{bid}
	</select>

	<select id="list" parameterType="com.springboot.mycgv.dto.PageDto"  resultType="com.springboot.mycgv.dto.BoardDto">
		SELECT RNO, BID, BTITLE, BCONTENT, BHITS, ID, BDATE
		FROM (SELECT ROWNUM RNO, BID, BTITLE, BCONTENT, BHITS, ID, to_char(BDATE,'yyyy-mm-dd') bdate  
				FROM (SELECT BID, BTITLE,BCONTENT,BHITS, ID, BDATE FROM MYCGV_BOARD  
				        ORDER BY BDATE DESC))
		WHERE RNO BETWEEN #{startCount} and #{endCount}
	</select>

</mapper>    