<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.example.movrank.repository.NoticeMapper">
	
	<update id="UpdateHits" parameterType="String">
		update mycgv_notice set nhits=nhits+1 where nid=#{nid}
	</update>
	
	<!--<delete id="delete" parameterType="String">
		delete from mycgv_notice where nid=#{nid}
	</delete>
	
	<update id="update" parameterType="com.mycgv_jsp.vo.NoticeVo">
		update mycgv_notice set ntitle=#{ntitle}, ncontent=#{ncontent} where nid=#{nid}
	</update>
	
	<insert id="insert" parameterType="com.mycgv_jsp.vo.NoticeVo">
		insert into mycgv_notice(nid,ntitle,ncontent,nhits,ndate)
		values('n_'||ltrim(to_char(sequ_mycgv_notice.nextval,'0000')),#{ntitle},#{ncontent},0,sysdate)
	</insert>-->

	<select id="content" parameterType="String" resultType="com.springboot.mycgv.dto.NoticeDto">
		select nid, ntitle,ncontent,nhits,ndate from mycgv_notice
			where nid=#{nid}
	</select>
	
	<select id="list" parameterType="com.springboot.mycgv.dto.PageDto" resultType="com.springboot.mycgv.dto.NoticeDto">
		select rno, nid, ntitle, nhits, ndate
		from (select rownum rno, nid, ntitle,nhits, to_char(ndate,'yyyy-mm-dd') ndate
		from (select nid, ntitle, nhits, ndate from mycgv_notice
		order by ndate desc)) where rno between #{startCount} and #{endCount}
	</select>

</mapper>    